body {
    background-image: url(cloud-blue-sky.jpg);
    background-size: cover;
}
.container {
    width: 75%;
/*     border: 1px solid black;
 */    margin: 0 auto;
    text-align: center;
    padding: 20px;
/*     border-radius: 10px;
 */}

#logo {
    width: 3em;
    height: 3em;
    
}

.box{
    width: 15%;
    background-color: grey;
    margin: 10px;
    height: 250px;
    border-radius: 10px;
}
.resultBox {
    display: flex;
    flex-direction: row;
    padding: 10px;
    justify-content: space-evenly;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#currentBox{
    margin: 1em auto;
    width: 40%;
    height: 350px;

}

.filter {
    -webkit-backdrop-filter: blur(10px); /* Safari 9+ */
    backdrop-filter: blur(10px); /* Chrome and Opera */
    background-color: rgba(255, 255, 255, 0.3);
}